.socialMediaContainer {
  margin-top: 50px;
}
.textColor {
  color: gray;
}
.socialMediaIconsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.socialMediaIcon {
  height: 80px;
}
.copyRightContainer {
  position: relative;
  z-index: 100;
}
.copyRightText {
  text-align: center;
}
.linksContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 100;
  align-items: center;
}

@media (max-width: 576px) {
  .copyRightText {
    font-size: 14px;
  }
  .linksContainer {
    gap: 5px;
    font-size: 14px;
  }
}
