.homeView {
  display: flex;
  justify-content: center;
  position: relative;
}

.bgImage {
  background-image: url("/images/newLense.png");
  background-size: cover;
  background-position: center;
}
.bgPosition {
  height: 250px;
  margin: 0 auto;
  margin-top: -5px;
  aspect-ratio: 11 / 8;
}
.bgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCta {
  color: var(--text-color1);
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
}
.textPara {
  text-align: center;
  position: absolute;
  bottom: -5rem;
  z-index: 10;
  font-weight: 700;
  font-size: 34px;
}

.capCtaContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  position: relative;
}
.leftCapsule {
  z-index: 10;
}
.rightCapsule {
  z-index: 10;
}
.leftCapsulePhone {
  display: none;
}
.rightCapsulePhone {
  display: none;
}

@media (max-height: 600px) {
  .bgPosition {
    height: 200px;
  }
  .textCta {
    font-size: 24px;
  }
  .textPara {
    bottom: -5rem;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .leftCapsule {
    display: none;
  }
  .rightCapsule {
    display: none;
  }
  .leftCapsulePhone {
    z-index: 10;
    display: block;
  }
  .rightCapsulePhone {
    z-index: 10;
    display: block;
  }
}
@media (max-width: 576px) {
  .bgPosition {
    height: 250px;
    margin: 0 auto;
    aspect-ratio: 11 / 8;
  }

  .capCtaContainer {
    margin-top: 6rem;
  }
  .textPara {
    bottom: -4rem;
    width: 100%;
    padding: 0px;
    font-size: 23px;
  }
}

@media (min-width: 1600px) {
  .bgPosition {
    height: 20vw;
  }
  .textCta {
    margin-top: 1.5vw;
    font-size: 2.5vw;
  }
  .textPara {
    bottom: -5vw;
    z-index: 10;
    font-size: 1.8vw;
  }
  .capCtaContainer {
    margin-top: 4vw;
  }
}

@media (max-height: 670px) {
  .bgPosition {
    height: 200px;
    margin: 0 auto;
    aspect-ratio: 11 / 8;
  }
}
