.mainContainer {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  margin: 0px auto;
  height: calc(100vh - 260px);
}

.mainHeading {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.emptyDiv {
  width: 350px;
  margin-right: 22px;
}

.contentContainer {
  display: flex;
  gap: 0px 30px;
  width: 85vw;
  max-width: 1400px;
  gap: 20px;
}
.userContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}
.userImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid var(--green);
}
.sectionHeading {
  font-size: 18px;
  font-weight: 600;
}
.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}
.recIconContainer {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.midContainer {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 5px;
  height: 100%;
}

.image {
  height: 100%;
  max-height: 800px;
  width: auto;
  aspect-ratio: 450/300;
  margin: 0px 10px;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .emptyDiv {
    width: 355px;
  }
}
@media (max-width: 1024px) {
  .contentContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: calc(100vh - 320px);
  }
  .emptyDiv {
    display: none;
  }

  .mainHeading {
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .sectionHeading {
    font-size: 16px;
    position: sticky;
    padding: 20px 10px;
  }
}
@media (max-width: 576px) {
  .projectsContainer {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px auto;
  }
  .mainHeading {
    text-align: left;
    margin-top: 3rem;
  }
  .sectionHeading {
    font-size: 14px;
  }
  .image {
    height: 100%;
  }
}

/* Webkit scrollbar styling (for Chrome, Safari, etc.) */
.midContainer::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Styling the scrollbar track (background) */
.midContainer::-webkit-scrollbar-track {
  background: #1a1a1a; /* Light background */
}

/* Styling the draggable part (thumb) */
.midContainer::-webkit-scrollbar-thumb {
  background: #202122; /* Dark background for the thumb */
}

/* Styling the thumb on hover */
.midContainer::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a; /* Darker thumb on hover */
}

/* Optional: Styling the scrollbar corner if both horizontal and vertical scrollbars are visible */
.midContainer::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* .testimonialImage {
  border-radius: 10px;
  margin: auto 10px;
}
.testimonialContainer {
  display: flex;
  width: 90%;
}
.testimonialTextContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonialText {
  width: 80%;
  margin: auto;
}
.userImageNew {
  width: 500px;
} */
