.container {
  margin: 0px auto;
  max-width: 1400px;
  width: 100%;
  height: 40vh;
}

.slide {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 45vh;
}
.imageContainer {
  position: relative;
}
.image {
  margin: auto;
  height: 40vh;
  border-radius: 10px;
  aspect-ratio: 1080/1920;
}

.downloadBtn {
  display: none;
  border-radius: 5px;
  left: 50%;
  bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  border: 1px solid white;
  background-color: white;
  color: black;
  transform: translateX(-50%);
}

.imageContainer:hover .downloadBtn {
  display: block;
}
@media (max-width: 576px) {
  .container {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .image {
    height: 45vh;
  }
}
@media (min-width: 1600px) {
  .slide {
    height: 45vh;
  }
  .image {
    height: 45vh;
  }
}
