.container {
  margin: 0px auto;
  max-width: 1400px;
  width: 100%;
  height: 60vh;
}

.slide {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 60vh;
}

.imageContainer {
  position: relative;
}

.image {
  margin: auto;
  border-radius: 10px;
  height: 60vh;
  max-height: 580px;
  aspect-ratio: 1500/1920;
  object-fit: cover;
}

.downloadBtn {
  left: 50%;
  bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
  height: 50px;
  width: 180px;
  font-size: 18px;
  position: absolute;
  border-radius: 5px;
  outline: 2px solid white;
  transform: translateX(-50%);
  display: none;
  align-items: center;
  justify-content: center;
}

.imageContainer:hover .downloadBtn {
  display: flex;
}

@media (max-width: 576px) {
  .container {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .image {
    height: 45vh;
  }
  .downloadBtn {
    height: 40px;
    width: 170px;
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .container {
    height: 53vh;
  }
  .slide {
    height: 55vh;
  }
  .image {
    height: 55vh;
  }
}
