.collection {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 28rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  border: 2px solid red;
}

.image {
  object-fit: cover;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.downloadbtn {
  position: absolute;
  bottom: 1rem;
  left: 35%;
}

.btn {
  display: none;
  outline: none;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  height: 3rem;
  width: 10rem;
  font-size: 22px;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0px 54px 50px;
}

.content:hover .btn {
  display: block;
}

@media (max-width: 576px) {
  .content {
    width: 350px !important;
  }
  .image {
    /* height: 300px;
    width: 350px; */
  }
}
