.capsuleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
  height: 150px;
}

.redCaps {
  background: url("/images/redCapsule.png") no-repeat center center/cover;
  right: 0;
}

.greenCaps {
  background: url("/images/greenCapsule.png") no-repeat center center/cover;
  left: 0;
}

.small {
  height: 150px;
}
.medium {
  height: 200px;
}
.large {
  height: 250px;
}

@media (max-width: 1120px) {
  .capsuleContainer {
    height: 90px;
  }
  .redCaps {
    right: 0;
    background: url("/images/redHalf1.png") no-repeat center center/cover;
  }

  .greenCaps {
    left: 0;
    background: url("/images/greenHalf1.png") no-repeat center center/cover;
  }
}

@media (max-width: 600px) {
  .capsuleContainer {
    height: 75px;
  }
}
