.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(70, 65, 65, 0.5);
  background-color: rgba(43, 43, 43, 0.5);
}
.modal {
  width: 70%;
  height: 70%;
  backdrop-filter: blur(50px);
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(70, 65, 65, 0.5);
  background-color: rgba(43, 43, 43, 0.5);
}

.modal {
  width: 70%;
  height: 70%;
  backdrop-filter: blur(50px);
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: 2px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.closeButton:hover {
  opacity: 1;
}

.modalContent {
  height: 100%;
}

@media (max-width: 576px) {
  .modal {
    width: 90%;
    height: 90%;
  }
}
