.card {
  border: 1px solid #eaeaea;
  box-shadow: inset rgba(var(--bg-shadow-color), 0.1) 0px 54px 50px,
    inset rgba(var(--bg-shadow-color), 0.12) 0px -12px 50px,
    inset rgba(var(--bg-shadow-color), 0.12) 0px 4px 50px,
    inset rgba(var(--bg-shadow-color), 0.17) 0px 12px 50px,
    inset rgba(var(--bg-shadow-color), 0.09) 0px -3px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 60px;
}

.cardImage {
  height: 34px;
}
@media (max-width: 600px) {
  .card {
    width: 140px;
    height: 70px;
  }
  .cardImage {
    height: 40px;
  }
}
