.mainContainer {
  max-width: 1300px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 350px auto 350px;
  gap: 10px;
  /* border: 2px solid red; */
}
.sidebarContainer {
  /* border: 2px solid rgb(169, 59, 81); */
}
.contentContainer {
  border: 2px solid salmon;
}
.imageVer {
}

@media (max-width: 800px) {
  .timelineContainer {
    /* border: 2px solid green; */
    display: none;
  }
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto 150px;
  }
}
