.mainContainer {
  max-width: 1300px;
  max-height: 800px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 300px auto 200px;
  gap: 10px;
  height: 100%;
}
.sidebarContainer {
  height: 100%;
}
.sectionHeading {
  margin-left: 5px;
  text-transform: capitalize;
}
.midContainer {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.contentContainer {
  border-radius: 10px;
}
.sectionHeading {
  padding: 2px 5px;
}
.imageVer {
  width: auto;
  border-radius: 5px;
  height: calc(100vh - 280px);
  max-height: 800px;
}
.timelineContainer {
  margin-left: 10px;
}
@media (max-width: 1100px) {
  .mainContainer {
    margin-left: 5px;
  }
  .timelineContainer {
    display: none;
  }
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
  }

  .imageVer {
    height: calc(100vh - 380px);
  }
}

@media (min-width: 1600px) {
  .mainContainer {
    overflow: hidden;
  }
  .imageVer {
    max-height: 750px;
  }
}
