.mainContainer {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url("/images/bg.png");
}

.container {
  flex: 1;
}

@media (min-width: 1600px) {
  .logo {
    height: 5vw;
  }
}
