.mainContainer {
  display: grid;
  background-size: cover;
  background-position: center;
  background-image: url("/images/bg.png");
  grid-template-rows: auto 1fr auto;
}

.topBarContainer {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  padding: 0.25rem;

  position: relative;
  z-index: 150;
  /* z-index: 1500; */
}

.logo {
  height: 3.5rem;
}

.offerStripContainer {
  min-width: fit-content;
  position: relative;
}

.offerStrip {
  position: relative;
  top: 5px;
  right: 5px;
  height: 5rem;
}

.container {
  grid-row: 2;
  height: 100%;
  padding-bottom: 5px;
  overflow-y: scroll;
}

.bottomBarContainer {
  grid-row: 3;
}

@media (min-width: 1024px) {
  .logo {
    height: 4.5rem;
  }
}

@media (min-width: 1600px) {
  .logo {
    height: 5vw;
  }
  .offerStrip {
    height: 6.2vw;
  }
}
