@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #11ae05;
  --red: #dc0707;
  --yellow: #ffde45;
  --blue: rgb(50, 153, 255);
  --text-color1: #ffffff;
  --text-color2: #ffffff;
  --text-color3: #ffffff;
  --bg-color1: #11ae05;
  --bg-color2: #ffffff;
  --bg-color3: #ffffff;
  --bg-shadow-color: 50, 153, 255;
  --red: rgb(0, 0, 0);
  --border-radius: 15px;
  /* calvars */
  --content-height: calc(100vh - 310px);
  --form-bg-color: 0, 0, 0;
  --button-bg-color: 17, 174, 5;
  --blog-shadow-color: 0, 0, 0;
  --swiper-pagination-color: white;
  --swiper-theme-color: white;
}

/* Hide scrollbar for all browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Font families */
.geist {
  font-family: var(--font-geist-sans), sans-serif;
}
.geist-mono {
  font-family: var(--font-geist-mono), monospace;
}
.comic-neue {
  font-family: var(--font-comic-neue), cursive;
}
.caveat {
  font-family: var(--font-caveat), cursive;
}

/* Line Clamps */
.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color1);
}

.trans-black-bg {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* border-right: 1px solid rgba(255, 255, 255, 0.2);  */
}

.text-white-shadow {
  text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.5);
}
.text-white-shadow:hover {
  text-shadow: 6px 6px 12px rgba(255, 255, 255, 0.5);
}
.text-black-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-black-shadow:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
/* This code will used fi we want our app in dark/light mode */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/
