.mainContainer {
  height: 100%;
}
.headng {
  margin-top: 15px;
}
.capsuleContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 170px);
  justify-content: center;
  justify-items: center;
  max-width: 800px;
  margin: 10px auto;
}

.capsule {
  width: 180px;
  height: 360px;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.blueCaps {
  background: url("/images/blueVer1.png") no-repeat center center/cover;
}

.redCaps {
  background: url("/images/redVer1.png") no-repeat center center/cover;
}

.capsuleText {
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  rotate: -90deg;
}

@media (max-width: 768px) {
  .capsule {
    width: 140px;
    height: 280px;
  }
  .capsuleText {
    font-size: 20px;
    padding: 10px;
    rotate: -90deg;
  }
  .headng {
    font-size: 28px;
  }
  .capsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
  }
  .capsule {
    width: 130px;
    height: 260px;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .capsuleContainer {
    grid-template-columns: repeat(3, 100px);
  }
}

@media (max-width: 576px) {
  .headng {
    margin-top: 40px;
  }
}
@media (min-width: 1600px) {
  .capsuleContainer {
    margin-top: 5vw;
  }
}
