.mainContainer {
  width: 80vw;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 230px);
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.blogsCardContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 30px;
}
.featuredBlogsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  gap: 30px;
}

@media (max-width: 1200px) {
  .featuredBlogsContainer {
    display: none;
  }
  .blogsCardContainer {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
  }
}
@media (max-width: 1120px) {
  .mainContainer {
    height: calc(100vh - 300px);
  }
}
@media (max-width: 750px) {
  .blogsCardContainer {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 10px 10px;
  }
}
@media (max-width: 600px) {
  .mainContainer {
    height: calc(100vh - 240px);
  }
}
